body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 6px 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f5bc04;
}

.search {
  display: inline-block;
  position: relative;
}

.search input {
  display: inline-block;
  width: 262px;
  height: 46px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 49px;
  color: #ffffff;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.search-icon i {
  color: rgba(255, 255, 255, 0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    background-color: #222;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    position: relative;
  }
}